* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
:root {
  --black: #2a2a2a;
  --green: #43d7b0;
  --darkGreen: #137d60;
  --verHr: #383839;
  --silver: #f4f4f4;
  --white: #fafafb;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}
header .content {
  width: 95%;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .verHr {
  height: 30px;
  border-left: 1px solid var(--verHr);
}
nav {
  width: 770px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header li {
  list-style: none;
  font-size: 14px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}
header li a {
  color: inherit;
}
#green {
  color: var(--green);
}
header .rightSec {
  height: 30px;
  width: 260px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-left: 3em;
}
.rightSec a {
  color: white;
}
main {
  height: 665px;
  width: 100%;
  background-color: var(--black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .content {
  height: 600px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .col {
  width: 750px;
  height: 280px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
main h1 {
  font-size: 80px;
  line-height: 74px;
  font-weight: 600;
  font-family: "Barlow Condensed";
}
main h2 {
  font-weight: 400;
}
main .btnRow {
  width: 475px;
  height: 40px;
}
button {
  border: none;
  outline: none;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  color: var(--white);
  cursor: pointer;
  text-transform: uppercase;
}
#btnTopCoder {
  width: 210px;
  height: 40px;
  background-color: white;
  color: var(--darkGreen);
}
#btnViewEnterpriseOfferings {
  width: 260px;
  height: 40px;
  background-color: var(--black);
  color: white;
  border: 2px solid white;
}
main img {
  width: 500px;
  height: 680px;
}
main .backgroundImg {
  height: 680px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.companies {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
}
.companies .content {
  width: 90%;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.companies img {
  height: 40px;
  width: 140px;
}
.covidInformation {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.covidInformation .content {
  width: 95%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--silver);
  border-radius: 10px;
}
.covidInformation img {
  border-radius: 10px;
  margin-right: 4em;
}
.covidInformation h1 {
  font-size: 34px;
  line-height: 38px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow Condensed";
}
.covidInformation .col {
  width: 467px;
  height: 380px;
  display: flex;
  flex-direction: column;
}
.covidInformation p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--black);
  margin: 1em 0 1em 0;
}
#btnCovid {
  width: 250px;
  height: 40px;
  background-color: var(--darkGreen);
  transition: all 0.3s ease-out 0s;
}
#btnCovid:hover {
  background-color: var(--green);
}
